.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movie__holder {
  flex-grow: 3;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text h1,
.text h2 {
  text-align: center;
}

*:focus {
  outline: none;
}
